.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.loader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__image {
  height: 80px;
}

.result-block-container .result-block {
  opacity: 1;
}
